# =========================
# ENV FILES
# =========================

.env
.env.*
!.env.example

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

# =========================
# FASTAPI
# =========================

*.db
*.sqlite
*.sqlite3

# =========================
# ML MODELS
# =========================

# Ignore all ML artifacts by default
*.pkl
*.joblib

# BUT keep production model files
!backend/app/ml/model.pkl
!backend/app/ml/vectorizer.pkl

# =========================
# NODE
# =========================

node_modules/

# =========================
# NEXTJS
# =========================

.next/
out/

# =========================
# LOGS
# =========================

*.log

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# IDE
# =========================

.idea/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db
Desktop.ini

# =========================
# PROJECT SPECIFIC
# =========================

backend/.env
frontend/.env.local

# =========================
# PYTHON CACHE
# =========================

.pytest_cache/
.mypy_cache/